.adhd-copilot-toast {
  position: absolute;
  z-index: 999;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  color: white;
}
