/* 百度热搜侧边 */
#con-ar,
#con-ceiling-wrapper {
  display: none !important;
}
/* 广告 */
/* 百度百科 */
#J-union-wrapper,
[class*="rightAd_"],
[class*="slideAdBox_"],
[class*="guessLike_"],
[class*="relatedSearch_"],
/* 百度贴吧 */
div:has(img.close_btn.j_click_close) {
  display: none !important;
}
[id^="mediago-tb-frs-list-"],
[id^="mediago-tb-pb-list-"] {
  display: none !important;
}
#plat_recom_carousel {
  display: none !important;
}
