/* 百度热搜侧边 */
#con-ar,
#con-ceiling-wrapper {
  display: none !important;
}
/* 广告 */
.unionAd_WxCEr,
/* https://developer.mozilla.org/zh-CN/docs/Web/CSS/:has */
/* 百度贴吧 */
div:has(img.close_btn.j_click_close) {
  display: none !important;
}
/* 通配符 *= ^= $= */
[id^="mediago-tb-frs-list-"],
[id^="mediago-tb-pb-list-"] {
  display: none !important;
}
#plat_recom_carousel {
  display: none !important;
}
