/* 百度热搜侧边 */
#con-ar,
#content_right,
#con-ceiling-wrapper {
  display: none !important;
}
/* 广告 */
/* 百度百科 */
#J-union-wrapper,
[class*="rightAd_"],
[class*="slideAdBox_"],
[class*="guessLike_"],
[class*="relatedSearch_"],
/* 百度贴吧 */
div:has(img.close_btn.j_click_close) {
  display: none !important;
}
[id^="mediago-tb-frs-list-"],
[id^="mediago-tb-pb-list-"] {
  display: none !important;
}
#plat_recom_carousel {
  display: none !important;
}
/* 2024-12-31 */
.thread_item_box:has(.ec-tuiguang),
.l_post.l_post_bright.j_l_post.clearfix:has(.ec-tuiguang) {
  display: none !important;
}
/* AI搜索DeepSeek */
#s_new_search_guide {
  display: none !important;
}
