.Pc-card.Card,
.Pc-word,
.Business-Card-PcRightBanner-link {
  display: none !important;
}
.TopstoryItem--advertCard {
  display: none !important;
}
.Pc-Business-Card-PcTopFeedBanner {
  display: none !important;
}
/* 搜索发现 */
.TopSearch {
  display: none !important;
}
.Pc-word-new {
  display: none !important;
}
